<div class="col-6">
    <figure class="m-0">
        <img src="https://picsum.photos/500/400" alt="Elephant at sunset" class="img-fluid">
        <figcaption class="mt-2">
            <h2 class="entry-title">
                <a href="#">Top Fashion Trends to Look for in Every Important Collection</a>
            </h2>
        </figcaption>
    </figure>
    <div class="td-editor-date">
        <span class="editor"><a href="#">Author</a></span> - <span class="date-publish">7 juillet 2022</span>
    </div>

    <div class="comment">We woke reasonably late following the feast and free flowing wine the night before. After gathering ourselves and our packs, we headed down to...</div>
</div>
<div class="col-6 last-article-by-category">
    <div class="row mb-4">
        <div class="col-4">
            <img src="https://picsum.photos/300/200" alt="" class="img-fluid">
        </div>
        <div class="col-8">
            <h3>
                <a href="">Have a look around this bold and colourful 1930s semi in London</a>
            </h3>
            <div class="td-editor-date">
                <span class="editor"><a href="#">Author</a></span> - <span class="date-publish">7 juillet 2022</span>
            </div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-4">
            <img src="https://picsum.photos/300/200" alt="" class="img-fluid">
        </div>
        <div class="col-8">
            <h3>
                <a href="">Have a look around this bold and colourful 1930s semi in London</a>
            </h3>
            <div class="td-editor-date">
                <span class="editor"><a href="#">Author</a></span> - <span class="date-publish">7 juillet 2022</span>
            </div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-4">
            <img src="https://picsum.photos/300/200" alt="" class="img-fluid">
        </div>
        <div class="col-8">
            <h3>
                <a href="">Have a look around this bold and colourful 1930s semi in London</a>
            </h3>
            <div class="td-editor-date">
                <span class="editor"><a href="#">Author</a></span> - <span class="date-publish">7 juillet 2022</span>
            </div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-4">
            <img src="https://picsum.photos/300/200" alt="" class="img-fluid">
        </div>
        <div class="col-8">
            <h3>
                <a href="">Have a look around this bold and colourful 1930s semi in London</a>
            </h3>
            <div class="td-editor-date">
                <span class="editor"><a href="#">Author</a></span> - <span class="date-publish">7 juillet 2022</span>
            </div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-4">
            <img src="https://picsum.photos/300/200" alt="" class="img-fluid">
        </div>
        <div class="col-8">
            <h3>
                <a href="">Have a look around this bold and colourful 1930s semi in London</a>
            </h3>
            <div class="td-editor-date">
                <span class="editor"><a href="#">Author</a></span> - <span class="date-publish">7 juillet 2022</span>
            </div>
        </div>
    </div>
</div>
