@import "~bootstrap/scss/bootstrap";
@import "../plugin/OwlCarousel2-2.3.4/dist/assets/owl.carousel.min.css";
@import "../plugin/OwlCarousel2-2.3.4/dist/assets/owl.theme.default.min.css";

// True Type Goole
// ===============
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


// Variables
// =========
:root {
    --eleven: 11px;
    --forteen: 14px;
    --Montserrat: Montserrat;
    --Roboto: Roboto;
    --black: rgba(0, 0, 0, 0.7);
    --write: #FFF;
    --gris :#767676;
    --yellow: #f9c100;

}

// Import my custom files
// ======================
@import "./custom/editor-date.scss";

// Global sur tous le site.
// ========================
a {
    text-decoration: none!important;
}

// Information in the header
.information-in-line {
    & .category {
        background-color: #222;
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
        text-transform: uppercase;
        color: #fff;
        padding: 2px 10px 1px;
        display: inline-block;
        line-height: 22px;
        transition: background-color 0.3s;
        cursor: default;
        user-select: none;
    }
    & .title {
        font-size: 15px;
        line-height: 25px;
        & a {
            color: #111;
        }
    }
    & .left, .right {
        display: inline-block;
        margin-right: 7px;
        width: 25px;
        height: 25px;
        border: 1px solid #dcdcdc;
        line-height: 24px;
        text-align: center;
        vertical-align: middle;
        font-size: 7px;
        color: #b7b7b7;
    }
}

// Header
// ======
.header {
    box-shadow: 0px 6px 8px 0px rgb(0 0 0 / 8%);
    & .top-element {
        & div {
            font-size: var(--forteen);
            font-family: var(--Montserrat);
            & a {
                font-size: var(--eleven);
            }
        }
        & .right {
            float: right;
        }
    }
}

// Slider
// ======
.slider {
    & .meta-info {
        margin-left: 35px;
        & span {
            background: var(--black);
            color: var(--write);
            padding: 5px 10px 5px 10px;
            font-family: var(--Montserrat);
        }
        & p {
            font-family: var(--Roboto);
            color: var(--write);
            font-size: 24px;
        }
    }
}

// les derniers articles
// =====================
.last-articles {
    border-bottom: 2px solid var(--yellow);
    & h1 {
        font-size: var(--forteen);
        & span {
            background-color: var(--yellow);
            padding: 7px 12px 4px;
            line-height: 17px;
        }
    }
    & ul {
        margin-bottom: 0px;
        float: right;
        & li {
            float: left;
            list-style: none;
            line-height: 1;
            margin-left: 22px;
            & a {
                font-family: var(--Roboto);
                font-size: 13px;
                color: var(--gris);
                line-height: 1;
            }
            & a:hover {
                color: var(--yellow);
            }
        }
    }

}   

// Big new article
// ===============
.block-last-articles {
    & h2 {
        font-family: var(--Montserrat);
        font-size: 21px;
        line-height: 25px;
        margin: 0 0 6px;
        word-wrap: break-word;
        & a {
            color: var(--gris);
        } 
        & a:hover {
            color: var(--yellow);
        }
    }
    & .comment {
        margin-top: 16px;
        margin: 20px 0 0;
        line-height: 21px;
        font-size: 13px;
        color: var(--gris);
        font-family: var(--Roboto);
        margin-top: 9px;
    }
}

// Small new articles
// ==================
.last-article-by-category {
    & h3 {
        font-size: 14px;
        line-height: 20px;
        font-weight: 500;
        & a {
            color: var(--gris);
        }
    }
}

// Bloc social network
// ===================
.stay-connected {
    border-bottom: 2px solid var(--black);
    & h1 {
        font-size: var(--forteen);
        & span {
            background-color: var(--black);
            color: var(--write);
            padding: 7px 12px 4px;
            line-height: 17px;
        }
    }
}

// follow us
// =========
.follow-us {
    & .facebook {
        & .icone-facebook {
            padding: 10px;
            background-color: #516eab;
            border-radius: 5px;
            & .fa-facebook-f {
                color: var(--write);
            }
            & span {
                color: var(--write);
                font-size: var(--forteen);
                margin-left: 17px;
            }
        }
    }
    & .twitter {
        & .icone-twitter {
            padding: 10px;
            border-radius: 5px;
            background-color: #29c5f6;
            & .fa-twitter {
                color: var(--write);
            }
            & span {
                color: var(--write);
                font-size: var(--forteen);
                margin-left: 17px;
            }
        }
    }  
    & .youtube {
        & .icone-youtube {
            background-color: #c4302b;
            padding: 10px;
            border-radius: 5px;
            & .fa-youtube {
                color: var(--write);
            }
            & span {
                color: var(--write);
                font-size: var(--forteen);
                margin-left: 17px;
            }
        }
    }  
}
// Video title on live
// ===================
.title-video {
    .title {
        background: #fd0000;
        & .play {
            color:var(--write);
            width: 50px;
            height: 50px;
            padding: 10px;
            font-size: 20px;
            text-align: center;
        }
    }
    h2 {
        color: var(--write);
        font-family: var(--Montserrat);
        font-size: 13px !important;
        line-height: 1.3 !important;
        font-weight: 700 !important;
        text-transform: uppercase !important;
        letter-spacing: -0.5px !important;
    }

}

// Video list
// ==========
.video-list {
    background: #222;
    list-style: none;
    height:300px;
    overflow: auto;
    & li {
        height:40px;
        & a {
            color: var(--write);
            font-family: var(--Montserrat);
        } & p {
            left: 85px;
            margin-bottom: 0px;
            font-size: 13px !important;
            line-height: 1.3 !important;
            font-weight: 700 !important;
            text-transform: uppercase !important;
            letter-spacing: -0.5px !important;
        }
    }
}
.video-list::-webkit-scrollbar {
    width: 12px;
}
.video-list::-webkit-scrollbar-track {
    background: #222;
}
.video-list::-webkit-scrollbar-thumb {
    background-color: var(--write);
    border-radius: 20px;     
    border: 3px solid var(--gris);
}

// rand-listing
// ============
.rand-listing {
    border-bottom: 2px solid var(--black);
    & h1 {
        font-size: var(--forteen);
        color: var(--write);
        & span {
            background-color: var(--black);
            padding: 7px 12px 4px;
            line-height: 17px;
        }
    }
}
.block-rand-listing {
    & h2 {
        font-family: var(--Montserrat);
        font-size: 16px;
        margin: 0 0 6px;
        word-wrap: break-word;
        & a {
            color: var(--gris);
        } 
        & a:hover {
            color: var(--yellow);
        }
    }
    & .comment {
        margin-top: 16px;
        margin: 20px 0 0;
        line-height: 21px;
        font-size: 13px;
        color: var(--gris);
        font-family: var(--Roboto);
        margin-top: 9px;
    }
}

// the article the most read
// =========================
.most-read {
    border-bottom: 2px solid var(--black);
    & h1 {
        font-size: var(--forteen);
        color: var(--write);
        & span {
            background-color: var(--black);
            padding: 7px 12px 4px;
            line-height: 17px;
        }
    }
}
.block-most-read {
    & .card {
        border: none;
    }
    & h2 {
        font-family: var(--Montserrat);
        font-size: 16px;
        line-height: 25px;
        margin: 0 0 6px;
        word-wrap: break-word;
        & a {
            color: var(--gris);
        } 
        & a:hover {
            color: var(--yellow);
        }
    }
}
// ///////////////////////////////////////////@at-root

.icone {
    & span {
        bottom: 0;
        left: 13px;
        padding: 3px 5px 3px 5px;
        font-size: 10px;
        font-weight: 600;
        line-height: 1;
        background-color: #222;
        color: #fff;
        margin-right: 5px;
        padding: 3px 6px 4px;
        transition: all .2s ease;
        -webkit-transition: all .2s ease;
    }
}
.top-article {
    & h2 {
        font-family: var(--Montserrat);
        font-size: 16px;
        margin: 0 0 6px;
        word-wrap: break-word;
        & a {
            color: var(--gris);
        } 
        & a:hover {
            color: var(--yellow);
        }
    }
}